

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.FormLogin {  
  padding: 20px;
}

.LabStyle{
  color: white;
  font-size: calc(5px + 2vmin);
}

.InputStyle{
  font-size: calc(5px + 2vmin);
  width: 50vh;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
}

.ButtonIngresar{
  color: #17202A;
  padding: 5px 28px;
  border-radius: 12px;
  align-items: center;
  
}
.LabRegis{
  color: white;
  font-size: calc(2px + 2vmin);
  padding: 20px 28px;
  align-items: center;
  
}




